In [1]:
import os
import pandas as pd

In [2]:
%ls

 Wolumin w stacji E nie ma etykiety.
 Numer seryjny woluminu: 1D13-4B00

 Katalog: e:\PROJ\EDU\kogni\kod

2016-03-01  16:29    <DIR>          .
2016-03-01  16:29    <DIR>          ..
2016-03-01  16:29    <DIR>          .ipynb_checkpoints
2016-03-01  16:29                72 Untitled.ipynb
               1 plik(˘w)                 72 bajt˘w
               3 katalog(˘w)  108˙264˙247˙296 bajt˘w wolnych

In [3]:
%cd ..
%ls

e:\PROJ\EDU\kogni
 Wolumin w stacji E nie ma etykiety.
 Numer seryjny woluminu: 1D13-4B00

 Katalog: e:\PROJ\EDU\kogni

2016-03-01  16:28    <DIR>          .
2016-03-01  16:28    <DIR>          ..
2016-03-01  16:29    <DIR>          kod
2016-03-01  16:28            10˙611 listob.xlsx
2016-02-25  10:57             1˙336 literatura.md
               2 plik(˘w)             11˙947 bajt˘w
               3 katalog(˘w)  108˙264˙247˙296 bajt˘w wolnych

### Wczytujemy listę obecności

In [4]:
lista = pd.read_excel('listob.xlsx')
lista.head()

   Lp    Imię i nazwisko  Z0  Z1  Z2  Z3  Z4  Z5  Z6  Z7
0   1     Borkowska Olga   1 NaN NaN NaN NaN NaN NaN NaN
1   2   Grabowska Sylwia   1 NaN NaN NaN NaN NaN NaN NaN
2   3  Grzebalski Marcin   1 NaN NaN NaN NaN NaN NaN NaN
3   4    Kałwiński Paweł   0 NaN NaN NaN NaN NaN NaN NaN
4   5  Kasprzak Karolina   1 NaN NaN NaN NaN NaN NaN NaN

In [5]:
# bierzemy kolumnę imię i nazwisko
im_st = lista['Imię i nazwisko']

In [6]:
im_st

0           Borkowska Olga
1         Grabowska Sylwia
2        Grzebalski Marcin
3          Kałwiński Paweł
4        Kasprzak Karolina
5      Łęgowski Aleksander
6             Mortas Kinga
7     Myszkowska Magdalena
8         Sroczyński Marek
9            Toczyska Kaja
10          Uliasz Martyna
11            Ulińska Maja
12        Zańczak Weronika
13        Żurawska Justyna
Name: Imię i nazwisko, dtype: object

In [10]:
# losujemy najpierw strażników klasowych (bądź strażniczki klasowe)

# jeden już się zgłosił - Grabowska Sylwia, więc jej nie będziemy losować
# Justyna Żurawska zgłosiła się na kolejne zajęcia do tej roli, więc równiż jej nie losuję
losuj_strazni = pd.Series([nm for nm in im_st if nm not in ['Grabowska Sylwia', 'Justyna Żurawska']])
losuj_strazni.sample()

5    Mortas Kinga
dtype: object

In [14]:
# na platformę jeszcze nikt się nie zgłaszał więc możemy losować ze wszystkich
# oprócz Sylwii Grabowskiej i wybranej już Kingi
usun = ['Grabowska Sylwia', 'Mortas Kinga']
pd.Series([nm for nm in im_st if nm not in usun]).sample(n=2, replace=False)

7    Toczyska Kaja
9     Ulińska Maja
dtype: object

In [15]:
# jeszcze dwie osoby do prezentacji, tym razem usuwamy wybranych oraz osoby
# już zgłoszone do prezentacji
usun = ['Grabowska Sylwia', 'Mortas Kinga', 'Uliasz Martyna', 'Myszkowska Magdalena', 'Toczyska Kaja', 'Ulińska Maja']
pd.Series([nm for nm in im_st if nm not in usun]).sample(n=2, replace=False)

3    Kasprzak Karolina
2      Kałwiński Paweł
dtype: object